.link.login-footer-link {
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    touch-action: manipulation;
    font-weight: 700;
    text-transform: uppercase;
}

.login-button {
    margin-bottom: 10px !important;
}