.login-message {
    font-size: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
    line-height: 1.1;
    margin-top: 0;
}

.login-message.error-message {
    color: red;
}