.signup-page {
  .container {
    margin-top: 100px;
  }

  &__header {
    text-align: center;
    color: #FFF;;
  }

  &__terms { 
    color: #979faf;
    font-style: italic;
    font-size: .825rem;
    text-align: center;
    padding: 0.5rem 0;
  }

  &__captcha {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    &--error {
     font-size: 10px;
     text-align: center;
    }
  }

  &__cta {
    text-align: center;
  }
}