.forgot-password {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  &--error {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }

  .form-control {
    color: #FFF;
  }

  .input-group-prepend {
    margin-right: 0;
  }

  .custom-input-addon i {
    color: #FFF;
  }
}