.forgot-password {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  
  &__captcha {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  &--error {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    h6 {
      font-size: 10px;
    }
  }

  .form-control {
    color: #FFF;
  }

  .input-group-prepend {
    margin-right: 0;
  }

  .custom-input-addon i {
    color: #FFF;
  }
}