.option-description {
  &__wrong, &__correct {
    font-size: 0.6875rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0;
  }

  &__solution {
    padding: 0.125rem 0 0.25rem;
    text-transform: uppercase;
    font-size: 0.725rem;
    cursor: pointer;
    width: fit-content;
  }

  &__correct-wrapper {
    padding: 0 0.75rem 0.5rem;
  }
}